{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <title>World Maps</title>
</head>
{% block body %}
<body class="bg-light">

    <div class="container mt-5">
        <div class="jumbotron text-center">
            <h1 class="display-4">Welcome to World Maps</h1>
            <p class="lead">Explore the beauty of our world through interactive maps.</p>
            <a href="{% url 'index' %}" class="btn btn-primary btn-lg">Get Started</a>
            <img src="{% static 'maps.jpg' %}" alt="World Map" class="mt-2 img-fluid rounded mx-auto d-block" >
        </div>

       
    </div>
    {% endblock %}

    {% block javascript %}

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    {% endblock %}
</body>
</html>
